<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

	<display-name>Bar Application</display-name>
	
    
	<servlet>
		<servlet-name>bar</servlet-name>
		<servlet-class>com.pramati.crosscontext.web.BarServlet</servlet-class>
		<init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/bar-servlet.xml</param-value>
    	</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>bar</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>